<!DOCTYPE html>
<html>
    <head>
        <% include partials/template/head.ejs %>
    </head>
    <body>
        <% include partials/content/anchorPoint.ejs %>
    </body>
    <script src=<%= anchorPointJS %>></script>
</html>
