<div id="wrapper">
    <video id="backgroundVideoAnchor" autoplay="">
      <source src=<%= backgroundVideo %> type="video/mp4;"
          codecs="avc1.42E01E, mp4a.40.2"/>
          Video not supported.
    </video>
    <div class="content_wrapper">
        <div id="theme_item_container">
            <h1 id="mainTitle">
                Voices of Siang
            </h1>
            <div id="wing_icons">
                <img src="assets/images/icons/water_icon.png" alt="water_icon" id=<%= leftIconId %> />
                <img src="assets/images/icons/adi_people_icon.png" alt="adi_people_icon" class="centerIcon" id=<%= centerIconId %> />
                <img src="assets/images/icons/land_icon.png" alt="land_icon" id=<%= rightIconId %> />
            </div>
        </div>
        <div id="arrows">
            <!-- <button id="get_news">news</button> -->
            <i class="fa fa-arrow-left fa-4x" aria-hidden="true"></i>
            <i class="fa fa-arrow-right fa-4x" aria-hidden="true"></i>
        </div>
    </div>
</div>
